.header {
  height: 15rem;
  /* padding: 4rem 0 0 0; */
  border-bottom: 2px solid var(--color-blue-grayish-light);

  display: flex;
  align-items: center;
  gap: 5rem;
}

.header__logo {
  width: 16rem;

  & img {
    width: 100%;
  }
}

.header__nav {
  font-size: var(--fs-body);
  height: 100%;
  display: flex;
  gap: 3rem;
}

.header__nav-item {
  height: 100%;
  color: var(--color-blue-grayish-dark);
  text-decoration: none;
  border-bottom: 2px solid transparent;

  display: flex;
  align-items: center;
}

.header__nav-item:hover {
  color: var(--color-black);
  border-bottom: 2px solid var(--color-orange);
}

.header__profile {
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 5rem;
}

.header__profile--cart {
  cursor: pointer;
}

.header__profile--avatar {
  width: 5rem;
  cursor: pointer;

  & img {
    width: 100%;
    border: 3px solid transparent;
    border-radius: 50%;
    transition: all 0.2s;
  }
}

.header__profile--avatar:hover img {
  border: 3px solid var(--color-orange);
}
