.container {
  max-width: 80vw;
  margin: 0 auto;
}

.product {
  padding: 10rem 4rem;

  display: flex;
  justify-content: center;
  gap: 10rem;

  & > * {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

@media screen and (max-width: 1280px) {
  .product {
    padding: 4rem 4rem;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    max-width: 90vw;
  }

  .product {
    padding: 3rem 4rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    max-width: 100vw;
  }

  .product {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}
