:root {
  --color-orange: hsl(26, 100%, 55%);
  --color-orange-pale: hsl(25, 100%, 94%);

  --color-blue-dark-very: hsl(220, 13%, 13%);
  --color-blue-grayish-dark: hsl(219, 9%, 45%);
  --color-blue-grayish: hsl(220, 14%, 75%);
  --color-blue-grayish-light: hsl(223, 64%, 98%);

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --opacity-lightbox-bg: 0.7;

  --fs-body: 1.6rem;
  --fw-regular: 400;
  --fw-bold: 700;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--color-white);
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1140px) {
  html {
    font-size: 56.25%;
  }
}
